/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#buttons {
	background-color: #BB00F6;
	height: 200px;
	width: 100vw;
    display: flex;
    gap: 10px;
	align-items:center;
	justify-content:center;
}

.btn, .stop {
	height:50px;
	border-radius:3px;
	background-color: #930ABF ;
    padding: 5px 20px;
    font-size: 12px;
    border: none;
    cursor: pointer;
	color: white;
}

